<ion-header>
    <ion-navbar color="primary">
      <ion-title>Farmacias </ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>
    <ion-list>

        <ion-item>
            <ion-label stacked>Nombre</ion-label>
            <ion-input [(ngModel)]="pharmacy.name" type="text"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label stacked>Dirección</ion-label>
            <ion-input [(ngModel)]="pharmacy.address" type="text"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label stacked>CIF</ion-label>
            <ion-input [(ngModel)]="pharmacy.cif" type="text"></ion-input>
        </ion-item>
        
        <button ion-button full (click)="pharmacyService.savePharmacy(pharmacy)">Guardar farmacia</button>
    </ion-list>
  </ion-content>
  