<ion-header>
    <ion-navbar color="primary">
        <ion-title>Laboratory </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <form [formGroup]="laboratoryForm">
        <ion-item>
            <ion-label stacked>Nombre</ion-label>
            <ion-input [(ngModel)]="laboratory.name" formControlName="name" type="text"></ion-input>
        </ion-item>
        <ion-item *ngIf="!laboratoryForm.controls.address.value != null && !laboratoryForm.controls.address.valid">
            <p style="color:red">Valor incorrecto: obligatorio y máx. 75 caracteres</p>        
        </ion-item>    
        <ion-item>
            <ion-label stacked>Dirección</ion-label>
            <ion-input [(ngModel)]="laboratory.address" formControlName="address" type="text"></ion-input>
        </ion-item>
        <ion-item *ngIf="!laboratoryForm.controls.address.value != null && !laboratoryForm.controls.address.valid">
            <p style="color:red">Valor incorrecto</p>
        </ion-item>    
        <ion-item>
            <ion-label stacked>E-mail</ion-label>
            <ion-input [(ngModel)]="laboratory.email" formControlName="email" type="email"></ion-input>
        </ion-item>
        <ion-item *ngIf="!laboratoryForm.controls.email.value != null && !laboratoryForm.controls.email.valid">
            <p style="color:red">Valor incorrecto</p>
        </ion-item>    
        <ion-item>
            <ion-label stacked>Phone</ion-label>
            <ion-input [(ngModel)]="laboratory.phone" formControlName="phone" type="text"></ion-input>
        </ion-item>
        <ion-item *ngIf="!laboratoryForm.controls.phone.value != null && !laboratoryForm.controls.phone.valid">
            <p style="color:red">Valor incorrecto</p>
        </ion-item>    
        
        <button ion-button full (click)="saveLaboratory(laboratory)">Guardar farmacia</button>
    </form>
</ion-content>
