<ion-header>
  <ion-navbar color="primary">
    <ion-buttons start>
      <button ion-button icon-only (click)="cancel()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Cita y pedidos</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label stacked>Fecha{{ cashOrder.date | date }}</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY HH:mm" pickerFormat="DD/MM/YYYY HH:mm" [(ngModel)]="cashOrder.date" [min]="minDate" max="2050"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label stacked>Farmacia</ion-label>
      <ion-input type="text" [(ngModel)]="cashOrder.pharmacy.name" (click)="openPharmacyModal()"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label stacked>Observaciones</ion-label>
      <ion-input type="text" [(ngModel)]="cashOrder.observations"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label stacked (click)="openCashOrderProductModal();">Añadir pedidos</ion-label>
    </ion-item>
    
    <ion-item *ngFor = "let cashOrderProduct of cashOrder.cashOrderProducts;" (click)="openCashOrderProductModal(cashOrderProduct)">
      {{cashOrderProduct.product.name}}
    </ion-item>  
    
    <ion-item>
      <ion-label stacked (click)="openImagePicker();">Añadir pedido (imagen)</ion-label>
    </ion-item>
    <ion-item *ngFor = "let cashOrderImage of cashOrder.cashOrderImages; let idx = index;" (click)="openImage(cashOrderImage.url)">
      Imagen {{idx}}
    </ion-item>  
    <ion-item *ngIf="selectedImg">
      <img src="{{ selectedImg }}">
      <p>
        <button ion-button color="danger" icon-start (click)="closeImage()">
          <ion-icon name='Cerrar'></ion-icon>
          Close
        </button>
        <button ion-button color="danger" clear icon-only>
          <ion-icon name='trash' is-active="false"></ion-icon>
        </button>
        <button ion-button color="danger" clear icon-only>
          <ion-icon name='cloud-download' is-active="false"></ion-icon>
        </button>        
      </p>
    </ion-item>
    
  </ion-list>
  
  <button ion-button full icon-left (click)="save()">
    <ion-icon name="checkmark"></ion-icon>Añadir cita
  </button>
</ion-content>